/* font-family: "HelveticaBold"; */
@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold/HelveticaBold.eot");
    src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
    url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

/* font-family: "HelveticaRegular"; */
@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.wrapper, .container, .ImgHeader {
	border: 1px dotted red;
}

.wrapper {
	display: inline-block;
}

.ImgHeader {
	height: 150px;
	width: 150px;
}

.NameHeader {
	font-family: HelveticaBold;
	height: 75px;
	font-size: 75px;
}

.SubHeader {
	text-align: center;
	font-family: HelveticaRegular;
	font-size: 1.5em;
}

.menu {
	height: 75px;
}

.menu li {

}

.menu li a {
	color: black;
	text-decoration: none;
}