/* font-family: "HelveticaBold"; */
@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold/HelveticaBold.eot");
    src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
    url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

/* font-family: "HelveticaRegular"; */
@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.ImgHeader {
	height: 6em;
	width: 6em;
}

.NameHeader {
	text-align: center;
	font-family: HelveticaBold;
	font-size: 6em;
	text-align: left;
	margin-left: 0.3em;
	margin-top: -12px;
	margin-bottom: 5px;
}

.SubHeader {
	text-align: center;
	font-family: HelveticaRegular;
	font-size: 1.5em;
}

.menu {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 5px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
	width: 1000px;
}

.menu li {
	margin-left: 75px; 
	margin-right: 75px;
	display: inline;
	text-align: center;
}

.menu li a {
	color: black;
	text-decoration: none;
}