/* font-family: "HelveticaBold"; */
@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold/HelveticaBold.eot");
    src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
    url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

/* font-family: "HelveticaRegular"; */
@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* .container, .header, .ImgHeader {
	border: 1px dotted red;
} */

.header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 1000px;
	margin-top: 10px;
	margin-bottom: 50px;
}

.container {
	vertical-align: top;
	display: inline-block;
}

.ImgHeader {
	margin-left: auto;
	height: 150px;
	width: 150px;
}

.NameHeader {
	margin-right: auto;
	font-family: HelveticaBold;
	height: 75px;
	font-size: 75px;
}

/* .SubHeader {
	text-align: center;
	font-family: HelveticaRegular;
	font-size: 1.5em;
} */

.menu {
	font-family: HelveticaRegular;
	font-size: 30px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	height: 75px;
}

.menu li {
	line-height: 75px;
	display: inline-block;
}

.menu li a {
	color: black;
	text-decoration: none;
}

.content {
	font-family: HelveticaRegular;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}